/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  z-index: 1000;

  transition: opacity var(--anim-slow), visibility var(--anim-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
