/* секция особенности */

.benefits {
  // padding-bottom: 0;

  &__list {
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  &__item {
    // width: 270px;
    // margin-right: 30px;

    &:last-child {
      // margin-right: 0;
    }
  }

  &__title {
    // margin-bottom: 10px;

    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;

    // color: var(--secondary-cl);
  }

  &__text {
    // font-size: 14px;
    // line-height: 1.71;

    // letter-spacing: 0.03em;

    // color: var(--main-txt-cl);
  }

  &__icon {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // background-color: var(--secondary-bg-cl);
    // height: 120px;
    // border-radius: 4px;
    // margin-bottom: 30px;
  }
}
