.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-cl);
}

.main-footer {
  text-align: center;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   align-items: baseline;
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
