.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-cl);
}

.main-footer {
  text-align: center;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   align-items: baseline;
  // }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.container__footer-flex {
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
