.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-cl);

  text-decoration: none;

  &-header {
    color: var(--logo-heafer-cl);
  }

  &-footer {
    color: var(--wigte-cl);
  }
}

.header-logo {
  margin-right: 95px;
}

.main-logo {
  display: inline-block;
  margin-bottom: 20px;
}
