/* секция чем занимаемся */

.work__list {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.work__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.work__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-cl);
}

.work__lable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  background: rgba(47, 48, 58, 0.8);
}

.work__subtitle {
  display: inline-block;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--wigte-cl);
}
